.menu ul{
    font-size: 50px;
    list-style:none;
}
.menu li{
    
    padding: 0 0 10px 0;
    list-style:none;
    display:block;
    float:left;
    margin:0 1px;
}
.menu li a{
    
border-radius: 90px;
    
    float:left;
    height:52px;
    color:#336ce6;
    text-transform:uppercase;
    font-size:11px;
    font-weight:bold;
    background:url(img/menu_027_l.jpg) no-repeat left;
    line-height:39px;
    padding:0 0 0 10px;
    text-decoration:none;
}
.menu li a span{
    border-radius: 0 70px 70px 0;
    font-size: 1.3em;
    
    display:block;
    float:left;
    background:url(img/menu_027_r.jpg) no-repeat right;
    height:52px;
    color:#336ce6;
    line-height:39px;
    padding:0 36px 0 17px;
}
    .menu li a:hover{
        display:block;
        float:left;					
        background:url(img/menu_027_h_l.jpg) no-repeat left;
        height:52px;
    }
    .menu li a:hover span{
        
        display:block;
        float:left;					
        background:url(img/menu_027_h_r.jpg) no-repeat right;
        color:#336ce6;
        height:52px;
    }
.menu li a.current{
    display:block;
    float:left;
    height:52px;
    color:#336ce6;
    text-transform:uppercase;
    font-size:11px;
    font-weight:bold;
    background:url(img/menu_027_h_l.jpg) no-repeat left;
    line-height:39px;
    padding:0 0 0 18px;
    text-decoration:none;
}
.menu li a.current span{					
    display:block;
    float:left;
    background:url(img/menu_027_h_r.jpg) no-repeat right;
    height:52px;
    color:#336ce6;
    line-height:39px;
    padding:0 36px 0 17px;
}
